%br
%h4="Create children for the #{@sample.name}"
%br
=simple_form_for @sample, :url => create_multiple_samples_path, :html => {:method => :put, :class => 'form-horizontal'} do |f|
  /select the child type
  /=f.select @sample.child_type, options_for_select([["aliquot of", "aliquot_of"], ["extract of", "extract_of"], ["child of","child_of"]], @sample.child_type)
  /select the number of children you want to create
  /autogenerate samplename_childtype_numberofchildren & barcode
  /autocomplete taxon, subject, materialtype, studies, sex, parent, retired
  /select containertype from dropdown
  /select container of the specific containertype (not used tubes)
  = f.fields_for :children do |builder|
    = builder.label :name, @sample.name
    = builder.input :barcode, disabled: true
    = builder.text_field :name
    = builder.check_box :_destroy 
    = builder.label :_destroy, "Remove"

  = f.submit "Submit", class: 'btn'
  = link_to 'Cancel', samples_path(), class: 'btn btn-warning'
