%h3= @sample.name

%table.table.table-bordered
    %tr
        %th Name
        %td=@sample.name
    %tr
        %th Sample Barcode
        %td
            =@sample.barcode.barcode
            [
            =link_to("Barcode set #{@sample.barcode.barcode_set}", fetch_barcodes_url(barcode_set: @sample.barcode.barcode_set))
            ]
    %tr
        %th.span3 Species
        %td=@sample.taxon.try(:scientific_name)
    %tr
        %th Tags
        %td=format_tags(@sample.tags)
    %tr
        %th Container
        %td
            -if @sample.container
                - if @sample.container.show_location?
                    = link_to("#{@sample.container} (#{@sample.container_x}, #{@sample.container_y})", @sample.container)
                -else
                    =link_to( @sample.container, @sample.container)
    %tr
        %th Notes
        %td=@sample.notes

- if can? :edit , @sample
    =button_to "Edit sample", edit_sample_path(@sample), method: 'get', class: 'btn btn-success'
=button_to "See all samples", samples_path, method: 'get', class: 'btn'

