%h3= @sample.name

#buttons
    =link_to "Edit sample", edit_sample_path(@sample), method: 'get', class: 'btn btn-success'
    - if can? :destroy , @sample and !@sample.retired
        =link_to "Retire sample", edit_sample_path(@sample), method: 'get', class: 'btn btn-danger'
    =link_to "See all samples", samples_path, method: 'get', class: 'btn'
%br
#annotation
    %table.table.table-bordered
        %tr
            %th.span3 Name
            %td=@sample.name
        %tr
            %th Sample Barcode
            %td
                =@sample.barcode.barcode
                / =link_to("Barcode set #{@sample.barcode.barcode_set}", fetch_barcodes_url(barcode_set: @sample.barcode.barcode_set))
        %tr
            %th Species
            %td=link_to @sample.taxon.try(:scientific_name), url_for(@sample.taxon)
        %tr
            %th Tissue
            %td=@sample.try(:source_name)
        %tr
            %th Sex
            %td=@sample.sex.try(:name)
        %tr
            %th Material types
            %td
                /TODO
        %tr
            %th Study
            %td=link_to @sample.study.try(:title), url_for(@sample.study) if @sample.study
        %tr
            %th Tags
            %td=format_tags(@sample.tags)
        %tr
            %th Container
            %td
                -if @sample.container
                    - if @sample.container.show_location?
                        =link_to("#{@sample.container} (#{@sample.container_x}, #{@sample.container_y})", @sample.container)
                    -else
                        =link_to(@sample.container, @sample.container)
        %tr
            %th Parent Containers
            %td
                -@sample.container.ancestors.each do |container|
                    =link_to container.name_for_selects, url_for(container)
                    %br
        %tr
            %th Notes
            %td=@sample.notes
#ancestry
    %h4 Related Samples
    %table.table.table-bordered
        %tr
            %th Parents
        / - if @sample.parent.count > 0
        - if @sample.parent
            / -for p in @sample.parents
            %tr
                / %td=link_to "#{p.barcode}] #{p.name}", sample_url(p)
                %td=link_to "#{@sample.parent.barcode}] #{@sample.parent.name}", sample_url(@sample.parent)
        -else
            %tr
                %td
                    %i None

        %tr
            %th Children
        -for c in @sample.children
            %tr
                %td=link_to "#{c.barcode}] #{c.name}", sample_url(c)



