=simple_form_for @taxon, :html => {:class => 'form-horizontal' } do |f|
    = f.input :ncbi_id, :hint => link_to("Find the NCBI id ", "http://www.ontobee.org/browser/index.php?o=NCBITaxon", :target => "_blank") 
    = f.input :scientific_name
    = f.input :common_name
    = f.button :submit
    = link_to 'Cancel', @taxon, class: 'btn btn-warning'
