%h1 Listing box_types

%table
  %tr
    %th Label
    %th Dimension x
    %th Dimension y
    %th Freezer
    %th
    %th
    %th

  - @box_types.each do |box_type|
    %tr
      %td= box_type.label
      %td= box_type.dimension_x
      %td= box_type.dimension_y
      %td= box_type.freezer_id
      %td= link_to 'Show', box_type
      %td= link_to 'Edit', edit_box_type_path(box_type)
      %td= link_to 'Destroy', box_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Box type', new_box_type_path
