%p#notice= notice

%p
  %b Label:
  = @box_type.label
%p
  %b Dimension x:
  = @box_type.dimension_x
%p
  %b Dimension y:
  = @box_type.dimension_y
%p
  %b Freezer:
  = @box_type.freezer_id

= link_to 'Edit', edit_box_type_path(@box_type)
\|
= link_to 'Back', box_types_path
