=="Type","Name","Barcode","Tags","Notes"
-for result in @results
	-o = result.searchable
	=="#{o}","#{o.name}","#{o.barcode}","#{format_tags(o.tags)}","#{o.notes}"
	==link_to "Download results}", search_path(:format => :csv)
