%br
-if @results.count > 0
    %h4==#{@results.count} entries found
    %table.table.table-striped.table-condensed.table-bordered
        / %thead
        /     %tr
        /         %th.span1 Type
        /         %th.span1 Barcode
        /         %th.span1 Name/Title
        /         %th.span1 Retired?
        %tbody
            -for result in @results
                - o = result.searchable
                %tr
                    -if result.searchable_type=="Investigation" || result.searchable_type=="Study"
                        %td= result.content.split(/\r/)[0]
                        %td
                        /%td= result.content.identifier
                    -elsif result.searchable_type=="Sample" || result.searchable_type=="Container"
                        %td= result.content.split(" ")[0]
                        %td= result.content.split(" ")[1]
                    %td= result.searchable_type

                    / -if o.has_attribute?("barcode_string") || o.has_attribute?("barcode")
                    /     %td= o.barcode
                    / -else
                    /     %td NA

                    / -if o.has_attribute?("name")
                    /     %td= link_to(o.name, o)
                    / -elsif o.has_attribute?("title")
                    /     %td= link_to(o.title, o)
                    / -else
                    /     %td NA

                    / -if o.has_attribute?("retired")
                    /     %td= o.retired? ? "yes" : "no"
                    / -else
                    /     %td NA
    =will_paginate(@results, params: params, method: 'post')
    =link_to "Download results", search_path(:format => :csv)
    =link_to "Download results", search_path(:format => :csv), class:'btn'
    =link_to "Download CSV", search_path(results: @results, format: "csv"), class:'btn'
-else
    %i==#{@results.count} entries found
%br
%br
%h4 Refine your search
= form_tag(search_path, method: 'get', class: 'form-inline form-search') do
    .fieldset
        =text_field_tag :query, nil,class: 'span4', placeholder: '"PBF78E5" or "zfish123"', value: params[:query]
        =submit_tag "Search", class:'btn btn-primary'

