%h3 Search Results for Samples and Containers
-if @results.count > 0
    %table.table.table-striped.table-condensed.table-bordered
        %thead
            %tr
                %th.span1 Type
                %th.span1 Barcode
                %th.span1 Name
                %th.span2 Tags
                %th.span2 Notes
                %th.span1 Retired?
        %tbody
            -for result in @results
                - o = result.searchable
                %tr
                    %td= result.searchable_type
                    %td= o.barcode
                    %td= link_to(o.name, o)
                    %td= format_tags(o.tags)
                    %td= o.notes
                    %td= o.retired? ? "yes" : "no"
    =will_paginate(@results, params: params, method: 'post')
-else
    %i No results found



%h4 Refine your search

= form_tag("/search",method: 'get', class: 'form-inline form-search') do
    .fieldset
        =text_field_tag :query, nil,class: 'span4', placeholder: '"PBF78E5" or "zfish123"', value: params[:query]
        =submit_tag "Search", class:'btn btn-primary'
