%h3= @container.name

%table.table.table-bordered
    %tr
        %th.span3 Name
        %td=@container.name
    %tr
        %th Container Type
        %td=link_to @container.container_type.name, container_type_path(@container.container_type)
    %tr
        %th Barcode
        %td
            =@container.barcode.barcode
            [
            =link_to("Barcode set #{@container.barcode.barcode_set}", fetch_barcodes_url(barcode_set: @container.barcode.barcode_set))
            ]
    %tr
        %th Retired
        %td=@container.retired? ? "Yes" : "No"

    %tr
        %th Tags
        %th=format_tags(@container.tags)
    %tr
        %th Notes
        %th=@container.notes
    %tr
        %th Contained Samples
        %th
            -for sample in @container.samples
                = link_to sample.name, url_for(sample) 
                = "[" + sample.barcode_string + "]"
                = "[" + sample.scientific_name + "] "
                %br


- if can? :edit , @container
    =button_to "Edit container", edit_container_path(@container), method: 'get', class: 'btn btn-success'
- if can? :destroy , @container
    =button_to "Retire container", container_path(@container), method: 'delete', class: 'btn btn-danger'

=button_to "See all containers", containers_path(), class: 'btn', method: 'get'
