/ - if current_user.nil?
/     %h3
/         =link_to("Login", login_path)
/         to do something interesting
/ -else
%h3
    == Welcome #{current_user.class}.
%h4 Search Samples
= form_tag("/search",method: 'get', class: 'form-inline') do
    =text_field_tag :barcode
    =submit_tag "Search"
%h4 Upload CSV of Samples
= form_tag(upload_samples_path,method: 'post', class: 'form-inline') do
    =text_field_tag :barcode
    =submit_tag "Search"
%h4 Generate barcodes
= render partial: "barcodes/generate_barcodes"
%h4 Fetch a barcode set
= render partial: "barcodes/fetch_barcodes"
