/ - if current_user.nil?
/     %h3
/         =link_to("Login", login_path)
/         to do something interesting
/ -else
%h3
    == Welcome #{current_user.class}.
%h4 Search Samples
= form_tag("/search",method: 'get', class: 'form-inline') do
    =text_field_tag :barcode
    =submit_tag "Search"
%h4 Upload CSV of Samples
= form_tag(upload_samples_path,method: 'post', class: 'form-inline') do
    =text_field_tag :barcode
    =submit_tag "Search"
%h4 Generate barcodes
= form_tag(generate_barcodes_path, method: 'post',class: 'form-inline') do
    .fieldset
        = label_tag :num, "Number of barcodes:"
        = text_field_tag :num,nil, required: true, placeholder: 'A number from 0 to 1000'
        =submit_tag "Generate", class:'btn btn-primary'
