- if current_user.nil?
    %h3 Welcome!
    =render "sessions/form"
-else
    %br
    %h4 Browse
    %ul
        =link_to 'Investigations',investigations_url
        %br
        =link_to 'Studies',studies_url
        %br
        =link_to 'Samples',samples_url
        %br
        =link_to 'Containers',containers_url
        %br
        =link_to 'Shipments', shipments_url

    %br
    %h4 Search
    = form_tag(search_path, method: 'get', class: 'form-inline form-search') do
        .fieldset
            =text_field_tag :query, nil,class: 'span4', placeholder: 'ex. PBF78E5 | IL-1-beta | box | zebrafish | blood'
            =submit_tag "Search", class:'btn btn-primary'
            =submit_tag "Advanced Search", class:'btn'
            %br
            %br
            %em=label_tag "search by sample, container, barcode, organism, tissue, shipment tracking number, investigator etc"
 
    %br

    / %h4 Generate barcodes
    / = render partial: "barcodes/generate_barcodes"

    / %h4 Fetch a barcode set
    / = render partial: "barcodes/fetch_barcodes"

    / %h4 Upload CSV of Annotations
    / = form_tag(upload_samples_path,method: 'post', class: 'form-horizontal') do
    /     .fieldset
    /         =file_field_tag :annotation_file,  class: 'file-field span4'
    /         =submit_tag "Upload Annotations", class:'btn btn-primary'

    %h4 Enter samples
    %br
    ==Individually #{link_to "Create", new_sample_path, class: 'btn btn-primary'}
    %br
    %br
    ==Bulk upload #{submit_tag "CSV files", class:'btn'} #{submit_tag "ISA-Tab files", class:'btn'}
    %em==(check the file format in #{link_to "help section",help_path()})


    / %br
    / %h4 Bulk upload
    / %em==Enter the samples in the system (file format #{link_to "help",help_path()}).
    / %br
    / %br
    / / = form_tag(uploader_path, method: 'get') do
    / /     .fieldset
    / =submit_tag "ISA-Tab files", class:'btn'
    / =submit_tag "CSV files", class:'btn'



    / = form_for :file_upload, :html => {:multipart => true} do |f| %
    /     = f.file_field :my_file
    /     = f.submit "Upload"