- if current_user.nil?
    %h3 Welcome!
    =render "sessions/form"
-else
    %br
    %h5 Browse
    %table.table.table-bordered
        %tr
            %td
                %ul
                    =link_to 'Investigations',investigations_url
                    %br
                    =link_to 'Studies',studies_url
                    %br
                    =link_to 'Samples',samples_url
                    %br
                    =link_to 'Containers',containers_url
                    %br
                    =link_to 'Shipments', shipments_url

    %h5 Search
    %table.table.table-bordered
        %tr
            %td
                = form_tag(search_path, method: 'get', class: 'form-inline form-search') do
                    .fieldset
                        =text_field_tag :query, nil, class: 'span4', placeholder: 'ex. PBF78E5 | IL-1-beta | box | zebrafish | blood'
                        =submit_tag "Search", class:'btn btn-primary'
                        %br
                        %br
                        %em=label_tag "enter any keyword like sample, container, barcode, organism, tissue, shipment tracking number, investigator etc"

    %h5 Advanced search
    %table.table.table-bordered
        %tr
            %td
                /=submit_tag "Advanced Search", class:'btn'
    
    %table
        %tr
            %td
                %h5 Enter individually (check the #{link_to "steps",help_path()}) 
                %table.table.table-bordered
                    %tr
                        %td
                            %ul
                                =link_to 'Investigation',new_investigation_path
                                %br
                                =link_to 'Study',new_study_path
                                %br
                                =link_to 'Sample',new_sample_path
                                %br
                                =link_to 'Container',new_container_path
                                %br
                                =link_to 'Shipment',new_shipment_path
                        %td
                            %ul
                                =link_to 'Container type',new_investigation_path
                                %br
                                =link_to 'Taxon',new_study_path
                                %br
                                =link_to 'Race',new_sample_path
                                %br
                                =link_to 'Ethnicity',new_container_path
                                %br
                                =link_to 'Strain',new_strain_path
                                %br
                                =link_to 'Ontology term',new_shipment_path
                                
            %td
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            %td
                %h5 Import data in bulk (check the #{link_to "file format",help_path()}) 
                %table.table.table-bordered
                    %tr
                        %td
                            =form_tag({action: :upload}, multipart: true) do
                                = file_field_tag 'file'
                                = submit_tag 'Import', class:'btn btn-primary'
                            -if flash[:notice]
                                %em==Status: #{flash[:notice]}
                                -job_id = flash[:notice].split(" ")[0]
                                =button_to "Check status", action: "finished" #(job_id)"
                                /=link_to_if(Sidekiq::Queue.new("high").size >= 0 ,"Check status", {controller: "pages", action: "finished"})
                            -if flash[:success]
                                %em==Status: #{flash[:success]}
                            -if flash[:alert]
                                %em==Status: #{flash[:alert]}
                            /=form_tag import_investigations_path, multipart: true do
                            /    = file_field_tag :file
                            /    = submit_tag "Import"

                            / == #{link_to "Spreadsheet files", new_sample_path, class: 'btn'} #{link_to "ISA-Tab files", new_sample_path, class: 'btn'}
                            / %em==(check the file format in #{link_to "help section",help_path()})
                            %br
                            %br
                            %br
    %table
        %tr
            %td
                %h5 Pregenerate barcodes
                = render partial: "barcodes/generate_barcodes"

                = render partial: "barcodes/fetch_barcodes"
                
                /EXTRAs:

                / %h4 Generate barcodes
                / = render partial: "barcodes/generate_barcodes"

                / %h4 Fetch a barcode set
                / = render partial: "barcodes/fetch_barcodes"

                / %h4 Upload CSV of Annotations
                / = form_tag(upload_samples_path,method: 'post', class: 'form-horizontal') do
                /     .fieldset
                /         =file_field_tag :annotation_file,  class: 'file-field span4'
                /         =submit_tag "Upload Annotations", class:'btn btn-primary'


                / %br
                / %h4 Bulk upload
                / %em==Enter the samples in the system (file format #{link_to "help",help_path()}).
                / %br
                / %br
                / / = form_tag(uploader_path, method: 'get') do
                / /     .fieldset
                / =submit_tag "ISA-Tab files", class:'btn'
                / =submit_tag "CSV files", class:'btn'


                /=form_for :file_upload do |f|
                /    = f.file_field :my_file
                /    = f.submit "Upload"


                /=form_tag({action: :upload}, multipart: true) do
                /    = file_field_tag 'file'
                /    = submit_tag 'Upload'
