%h3 Studies

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th.span1 ID
      %th.span1 Title
      %th.span1 Identifier
      %th.span1 Investigation
      %th.span2 Investigators
      %th.span2 &nbsp;
  %tbody
    -@studies.each do |study|
      %tr
        %td= study.id
        %td= link_to(study.title, study)
        %td= study.identifier
        %td
          -if study.investigation_title
            =link_to(study.investigation_title, study)
          -else
            %nbsp
        %td
          -if study.people
            -study.people.each do |investigator|
              ="#{investigator.firstname} #{investigator.lastname}"
              %br 
        %td
          =link_to "Show", study_path(study), class: 'btn'
          -if can?(:edit, study)
            =link_to "Edit", edit_study_path(study), class: 'btn btn-success'
          -if can?(:destroy, study)
            = link_to "Delete", study_path(study), method: 'delete', class: 'btn btn-danger', confirm: "Are you sure? We can't undo this ..."
%br

=link_to 'Create a new Study', new_study_path, class: 'btn btn-primary btn-large'
