%h1 Listing studies

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @studies.each do |study|
    %tr
      %td= study.name
      %td= link_to 'Show', study
      %td= link_to 'Edit', edit_study_path(study)
      %td= link_to 'Destroy', study, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Study', new_study_path
