=simple_form_for @ontology_term, :html => {:class => 'form-horizontal' } do |f|
    = f.association :ontology, :label => "Source Ontology"
    = f.input :name, :label => "Term Name"
    = f.input :accession
    = f.input :definition, :label => "Term Definition"
    = f.label :parent
    = f.collection_select :parent_id, @ontology_term.parents_only, :id, :name, :include_blank => true
    ex. biological sex is the parent of all sexes/mating types, container is the parent of all tubes, boxes, freezers
    %br
    %br
    = f.input :obsolete
    = f.button :submit
    =link_to 'Cancel', @ontology_term, class: 'btn btn-warning'
