%h3
  ==Barcode Set [#{@barcode_set_id}]
%h4
  Download
  = link_to "CSV", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "csv")
  |
  = link_to "XML", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "xml")
  |
  = link_to "JSON", fetch_barcodes_path(barcode_set: @barcode_set_id, format: "json")
  ==(Total Number of Barcodes = #{@barcodes.count})

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th.span1 Barcode
      %th.span1 Entity
      %th.span1 Connections
  %tbody
    -for bc in @barcodes
      -if bc.barcodeable_type == 'Container'
        -if !bc.barcodeable.samples.empty?
          -bc.barcodeable.samples.each do |sample|
            %tr
              %td=bc.barcode
              %td
                -if bc.barcodeable
                  == #{bc.barcodeable_type}:#{bc.barcodeable_id}
                -else
                  %i --
              %td=sample.barcode_string
      -elsif bc.barcodeable_type == 'Sample'
        %tr
          %td=bc.barcode
          %td
            -if bc.barcodeable
              == #{bc.barcodeable_type}:#{bc.barcodeable_id}
            -else
              %i --
          %td=bc.barcodeable.container.barcode
.pagination
  =will_paginate(@barcodes, params: params)

=link_to "Show all Barcodes", barcodes_url, class: 'btn'