= simple_form_for @address, html: {class: 'form-horizontal'} do |f|
    = f.input :line_1
    = f.input :line_2
    = f.input :line_3
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :province
    = f.input :country, priority: "USA", collection: %w[ Canada England Ireland USA]
    - if params[:user_id]
        =hidden_field_tag :user_id, params[:user_id]
    = f.button :submit
    = link_to "Cancel",:back, class: 'btn btn-warning'