=simple_form_for @container_type, :html => {:class => 'form-inline' } do |f|
    = f.input :type_term, data: {autocomplete_source: query_ontology_terms_path}
    = f.input :name
    = f.input :x_dimension
    = f.input :x_coord_labels
    = f.input :y_dimension
    = f.input :y_coord_labels
    = f.button :submit
