!!!
%html
  %head
    %title CollOS
    %meta{:charset => "utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    /= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails.jquery.js", "application.js"
    = csrf_meta_tags
  %body
    #container.container
      %header.row
        #nav.span12
          = render 'layouts/navigation'
        #messages.span12
          = render 'layouts/messages'
      #content.row
        .span12= yield
      %footer.row{:align => "right", :style => "color: grey"}
        %br
        %em.span12 Copyright ITMAT@Pentacon,2014
    .js
      = yield :js
